body{
    margin: 0%;
    padding: 0%;
    background-image: url("bugatti_divo.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;  
    background-size: cover;
    color: white;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    height: 500px;
    width: 400px;
    background-color: aliceblue;
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.loginRegister{
    border-color: black;
    display: flex;
    align-items: center;
}
.icon{
    height: 40px;
    width: 200px;
    display: flex;
    justify-content: space-evenly;   
}
.content{
    height: 260px;
    width: 260px;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.fname{
    padding: 5px;
    margin-top: 20px;
    height: 20px;
    width: 200px;
    align-items: center;
    border-style: none;
    border-bottom: 1px solid black;
}